{% extends "base.html" %}

{% block myblock %}
<div class="container">
  <div class="form-group">

    <form method="post" >

      <table>
        <tr>
          <td>Name </td>
          <td>{{User_Form.username}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{User_Form.email}}</td>
        </tr>
        <tr>
          <td>Password</td>
          <td> {{User_Form.password}}</td>
        </tr>
        
      </table>
      {% csrf_token %}
      <input type="submit" name="submit" value="click here!">

   </form>
  </div>
</div>


{% endblock %}
